  /* CSS layout */
body {
	margin: 0 auto;
	padding: 0 auto;
}
a
{
	text-decoration:underline;
}
a:hover{
	text-decoration:none;
}
#wapper
{
	margin:0 auto;
	width:1004px;
	min-width:1004px;
	position:relative;
	left:0;
	top:0;
}
#masthead {
position:relative;
}

#container {
	
	min-width: 1004px;
	position:relative;
}

#left_col {
	width: 200px;
	float: left;
}

#page_content {
	margin-left: 200px;
	background:url('image/contleftbg.png');
	background-position:left top;
	background-repeat:repeat-y;
	position:relative;
	_height:800px;
	_left:-23px; /* IE6 */
}

#footer {
	position:relative;
	width:1004px;
	text-align:center;
	clear:both
}
#footer p
{
	background:url('image/footline.png');
	background-position:center top;
	background-repeat:no-repeat;
	margin:2em 0;
	padding:2em 0;
	font:12px 宋体, Arial, Helvetica, sans-serif;	
	
}
.logo
{
	background:url('image/logo.png');
	background-repeat:no-repeat;
	width:198px;
	height:68px;
	text-indent:-9999px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/logo.png'); /* IE6 */
	_background-image: none; /* IE6 */
	margin:20px 0 20px 130px;

}
.menu
{
	list-style:none;
	margin:0 15px;
	padding:0 0;
}
.menu li
{
	background:url('image/menubg.png');
	background-repeat:no-repeat;
	width:158px;
	height:30px;
	background-position:right top;
	margin:0 0 0 32px;
	
}
.menu li a
{
	float:right;
	margin:8px 10px 0 30px;
	color:#78BD00;
	text-decoration:none;
	font-size:14px;
}
.menu li a:hover
{
	color:#0096FF;
}
.title
{
	background:url('image/title.png');
	background-repeat:no-repeat;
	width:624px;
	height:26px;
	color:#ffffff;
	font-size:12px;
	margin:0 10px;
	padding:5px 0 0 15px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/title.png'); /* IE6 */
	_background-image: none; /* IE6 */

}
.contlist
{
	margin:5px 15px;
	padding:0 10px;
	color:#525252;
	font:12px/1.5 宋体, Arial, Helvetica, sans-serif;	
	width:610px;
	list-style-type:none;
}
.contlist li
{
	padding:5px 0;
}
.notliststyle
{
	list-style:none;
	font-weight:bold;
	color:#0096FF;
	padding:0 0;
}
.duty
{
	margin:5px 15px;
	padding:0 10px;
	color:#0096FF;
	font:12px/1.5 宋体, Arial, Helvetica, sans-serif;	
	width:610px;

}
.duty li
{
	color: #525252;
 	background: url('image/bluepoint.gif');
	background-repeat:no-repeat;
	list-style:none;
}

