.searchlist a
{
	line-height:27px;
	padding:5px;
	white-space: nowrap;
}	
#left_col .left-list
{
	width:180px;
}
#left_col .left-list h3
{
	background:url('../image/leftulbg.png');
	background-repeat:no-repeat;
	height:25px;
	margin:3px 0;
	padding:0 0 0 10px;
	font:14px/2.0 宋体, Arial, Helvetica, sans-serif;
	color:#FF0000;
}
#left_col .left-list p
{
	background-color:#F6F6F6;
	margin:0 0;
	padding:5px 10px;
	font:14px/1.8 宋体, Arial, Helvetica, sans-serif;	
}
#left_col .left-list p a
{
	margin:0 5px 0 0;
	padding:0 0;
}

/*中间内容*/
#page_content {
	margin-left: 180px;
	padding:0 1em;
	width:35em;
}
#page_content .pg_title
{
	font:12px/1.6 宋体, Arial, Helvetica, sans-serif;
	width:100%;
	position:relative;
	height:25px;
}
#page_content .pg_title p
{
	padding:0 0;
	margin:0 0;
	color:#838383;
}
#page_content .res-title
{
	font-weight:bold;
	color:#000000;
	font-size:15px;	
}
#page_content .results
{
	color:#FF0000;
}
.tooltip01,.tooltip02,.tooltip03,.tooltip04,.tooltip05
{
	display:none;
	font-size:14px;
	color:#000000;
	border:1px #FF9900 solid;
	background-color:#FFFFFF;
	padding:3px;
	margin:-90px 0  0 -160px;
	z-index:100;
	height:15px;
}
.tooltip02{	margin:-133px 0  0 -160px;}
.tooltip03{	margin:-178px 0  0 -160px;}
.tooltip04{	margin:-225px 0  0 -160px;}
.tooltip05{	margin:-268px 0  0 -160px;}

#div-des
{
	display:none; 
	z-index:10000; 
	border:1px solid #666; 
	background-color:#F9F9F9;
	width:300px; 
	min-height:400px;
	margin:-50px 0 0 -250px;
	font-size:14px;
	padding:10px;
}
#div-des .div-link
{
	padding:10px 0;
	font-size:14px;
}
#div-des h1
{
	font-size:16px;
	font-weight:bold;
	margin:0 0;
	padding:0 0;
	text-align:center;

}
#div-des h6
{
	font-size:14px;
	font-weight:bold;
	margin:0 0;
	padding:10px 0;
}
#div-des .close
{
	background-image:url('../image/close.png');
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../image/close.png'); /* IE6 */
	_background-image: none; /* IE6 */
 
}

/*搜索导航内容样式*/
#TopicResult
{
	width:100%;
	position:relative;
/*	height:230px;*/
	background-color:#F6FBFE;
}
.searchlist
{
	position:relative;
}
#searchframe .searchlist span
{
/*	top:12px; */
}
.searchlist span
{
	position:absolute;
	right:8px;
}
.list01,.list02,.list03,.list04,.list05
{
	font:14px/2.5 宋体, Arial, Helvetica, sans-serif;
	text-decoration:underline;

	
}
.list02,.list03
{
	font:14px/2.8 宋体, Arial, Helvetica, sans-serif;
}

.searchlist h4
{
	font:14px 宋体, Arial, Helvetica, sans-serif;
	color:#48BD48;
	padding:4px 0 0 0;
	margin:2px 0;
	font-weight:bold;
}
#searchframe .searchlist p
{
	width:40em;
	overflow:hidden;
	white-space: nowrap;
}
#searchframe .searchlist select
{
	height:22px;
}
.searchlist p
{
	font:14px 宋体, Arial, Helvetica, sans-serif;
	padding:0 0 3px 0;
	margin:0 0;
}
.searchlist p a
{
	margin:0 5px 0 0;
}
.searlist-sel
{
	margin:0 0 0 10px;
	height:20px;	
}
.listname
{
	position:relative;
	height:20px;
}
#searchframe02 .listname a,#searchframe03 .listname a,#searchframe04 .listname a,#searchframe05 .listname a,#searchframe06 .listname a
{
	float:left;
	font:14px 宋体, Arial, Helvetica, sans-serif;
	width:105px;
	margin:2px 0;
	height:20px;
}
.searchfoot
{
	position:absolute;
	top:208px;
	left:0;
	width:100%;
}
.searchfoot p
{
	border-top:1px #BFDBFF solid;
	position:relative;
	bottom:0;
	margin:0 0.8em;
	padding:10px 0 0 0;
	height:20px;
}
.searchfoot p span
{
	position:absolute;
	top:8px;
	right:10px;	
}

/*搜索tabs*/
#search-tabs
{
	position:relative;
}
#search-tabs .tabs-title
{
	font:14px 宋体, Arial, Helvetica, sans-serif;
	color:#838383;
	padding:3px 0 10px 0;
	margin:10px 0 0 0;
}
#search-tabs .tabs-ul
{
	list-style:none;
	padding:0 0;
	margin:0 0;
	font:12px/2.5 宋体, Arial, Helvetica, sans-serif;
	display:block;
	position:relative;
	height:25px;
	border-bottom:1px #cccccc solid;
}

#search-tabs .tabs-ul li
{
	display:inline;
	height:25px;
}
#search-tabs .tabs-ul a
{
	background:url('../image/bt05.png');
	background-repeat:no-repeat;
	width:50px;
	height:25px;
	text-align:center;
	position:absolute;
	color:#666666;
}
#search-tabs .tabs-ul a:hover,#search-tabs .tabs-ul a:active
{
	background:url('../image/bt06.png');
	background-repeat:no-repeat;
	width:50px;
	height:25px;
	text-decoration:none;
	color:#0458CB;
	font-weight:bold;
}
.tab-li01{	left:0;}
.tab-li02{	left:52px;}
.tab-li03{	left:104px;}
.tab-li04{	left:156px;}
.tab-li05{	left:208px;}
#search-tabs h1
{
	font:18px 宋体, Arial, Helvetica, sans-serif;
	padding:0 0;
	margin:15px 0 5px 0;
	font-weight:bold;
}
#search-tabs p
{
	font:14px/1.2 宋体, Arial, Helvetica, sans-serif;
	padding:3px 0;
	margin:0 0;
}
#search-tabs .tabs-web
{
	color:#48BD48;
}